.Top-Colon{
    position: absolute
}
.Bottom-Colon{
    position: absolute
}
  
.Hours{
    position: absolute
    
}
  
.Minutes{
    position: absolute

}
.Clock-Display {
    position: absolute
    
}

.default {
    position: absolute
}
  